summary {
  font-weight: bold;
  cursor: pointer;
}

.help {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  margin-bottom: 40px;
}

.textBrow {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.textBrow:hover {
  color: var(--main-color);
}

.container1 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(225px, 2fr));
  gap: 40px;
  max-width: 90%;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .container1 {
    max-width: 90%;
    width: 730px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 2fr));
  }
}

.box1 {
  display: grid;
  align-items: center;
  justify-content: center;
}

.imgas {
  width: 35px;
  max-width: 50px;
  min-width: 20px;
}

details {
  width: 200px;
}

summary {
  color: var(--main-color);
}

details > p {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 16px;
}

/*Start Footer*/
footer {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 1px 1px 10px #ff62007a;
  margin: 0;
}

footer p {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
